p{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  color: royalblue;
}
.main-container{
  width: 100%;
  background-color: aliceblue;
  float: right;
}
.img-container{
  width: 500px;
}
img{
  width: 100%;
}
button{
  padding: 10px 20px;
  font-weight: bold;;
  font-size: 16px;
  border: none;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 100px;
  background-color: orange;
  cursor: pointer;
}

.button-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}